Repository yrro/ngfw-edl-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: pip-audit, pytest, pylint

.pre-commit-config.yaml:

default_language_version:
  python: python3

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace


- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: 'v0.6.9'
  hooks:
  - id: ruff
  - id: ruff-format


- repo: https://github.com/PyCQA/bandit
  rev: 1.7.8
  hooks:
  - id: bandit
    exclude: ^tests/
    args: ["-c", "pyproject.toml"]
    additional_dependencies:
    - bandit[toml]


- repo: https://github.com/python-poetry/poetry
  rev: 1.8.3
  hooks:

  - id: poetry-check

  - id: poetry-lock
    entry: poetry lock --no-update


- repo: local
  hooks:

  #- id: mypy
    #name: mypy
    #entry: poetry run mypy
    #language: system
    #pass_filenames: false
    #types:
    #- python

  - id: pip-audit
    name: pip-audit
    entry: poetry run pip-audit --skip-editable --desc
    language: system
    files: ^poetry\.lock$
    pass_filenames: false

  - id: pytest
    name: pytest
    entry: poetry run pytest
    language: system
    pass_filenames: false
    types:
    - python

  - id: pylint
    name: pylint
    entry: poetry run pylint
    language: system
    types:
    - python
    exclude: ^tests/

Remove PYTHON* env vars from .quartenv
  .quartenv
  README.md
Due: none

container: enable fault handler and unbuffered mode via command line arguments
  build.py
Due: pytest, pylint

README: align production command line with that used in the container image
  README.md
Due: none

Add /logging_config URL
  src/ngfw_edl_server/__init__.py
Due: pytest, pylint

Remove unused dependencies
  poetry.lock
  pyproject.toml
Due: pip-audit

server: use importlib to check for logging_tree availability
  src/ngfw_edl_server/__init__.py
Due: pytest, pylint

[WIP] Switch to uv
  .pre-commit-config.yaml
  .python-version
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: pip-audit

Rename test-build-push job to main
  .github/workflows/main.yaml
Due: none

Publish container image to quay.io
  .github/workflows/main.yaml
Due: none

build: upgrade packages within container images
  Containerfile.builder
  build.py
Due: pytest, pylint

Upgrade packages within actions runner
  .github/workflows/main.yaml
Due: none

README: update container image repository references to new home at quay.io
  README.md
Due: none

main workflow no longer needs packages:write permission
  .github/workflows/main.yaml
Due: none

Switch to uv and use a more standard build process for the container image
  .github/workflows/main.yaml
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
  Containerfile
  Containerfile.builder
  README.md
  build.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: pip-audit, pytest, pylint

Tag image correctly before pushing
  .github/workflows/main.yaml
Due: none

pre-commit: update some versions
  .pre-commit-config.yaml
Due: none

pre-commit: update (disabled) pip-audit hook to work with uv
  .pre-commit-config.yaml
Due: none

Update dependencies
  uv.lock
Due: none

Remove un-needed libffi package from container image
  Containerfile
Due: none

Remove dnf cache
  Containerfile
Due: none

README: show an example uv pip list command that shows outdated packages
  README.md
Due: none

Switch to dnspython
  pyproject.toml
  uv.lock
Due: none

RHEL 10
  Containerfile
Due: none

tests: stop container before retrieving logs
  tests/test_container.py
Due: pytest

tests: disable HTTP pipelining
  tests/test_container.py
Due: pytest

tests: log container inspection info at debug level
  tests/test_container.py
Due: pytest

typo
  pyproject.toml
Due: none

Use uv's native version command to set project version
  .github/workflows/main.yaml
Due: none
